/* common styles or utilities */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* header-section */
header{
    width: 85%;
    margin: 50px auto;
}
.header-content{
    display: flex;
    align-items: center;
    background-color: #161616;
    border-radius: 30px;
    color: white;
    gap: 20px;
    overflow: hidden;
}
.header-description{
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 23px;
    padding: 80px;
    padding-right: 0px;
}
.header-title{
    font-size: 55px;
    line-height: 65px;
}
.header-description p{
    font-weight: 400;
    font-size: 14px;
}
.btn{
    width: max-content;
    padding: 16px 25px;
    background: #DD0000;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: all 1s ease-out;
}
.btn:hover{
    background-color: white;
    color: black;
}
.viewall-btn{
    display: none;
}
.btn span{
    margin-right: 10px;
}
.header-content img{
    width:100%;
    margin-right: 45px;
    padding-top: 30px;
    transition: transform 1.5s ease;
    align-self: end;
}
.header-content img:hover{
    transform: scale(1.1);
}

/* middle-container */
main{
    width: 85%;
    margin: 50px auto;
}
.middle-container{
    display: flex;
}
/* menu */
.menu{
    min-width: 190px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    padding: 0px 20px;
    justify-content: space-evenly;
}
#bg-color{
    background-color: #DD0000;
    border: 0px;
    color:white
}
.menu a{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px 0px;
    text-align: center;
    font-weight: 500;
    border: 1px solid rgb(194, 185, 185);
}

/* content */
.contents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    gap: 15px;
}
.content{
    display: flex;
    flex-direction: column;
    border: 1px solid #e5d9d9;
    border-radius: 5px;
}
.content .content-img img{
    width: 100%;
}
/* upcoming match */
.match-img{
    display: flex;
    justify-content: space-evenly;
    padding: 19px;
    gap: 8px;
    align-items: center;
}
.match-img img{
    width: 45%;
}
.match-description{
    align-items: center;
}
.match-date{
    font-size: 12px;
}
/* all group */
.group-title{
    background-color: #ddd8c7;
    margin: 10px 0px;
    height: 0px;
    justify-content: center;
    text-align: center;
}
.content-description{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content a{
    text-decoration: none;
    border: 1px solid #161616;
    padding: 6px 10px;
    width: max-content;
    border-radius: 5px;
    color: black;
}
.content-info{
    display: flex;
    gap: 25px;
}
.content-icon{
    display: flex;
    margin-right: 5px;
}
.content-icon img{
    margin-right: 8px;
}
.content-title{
    color:black;
    font-weight: 600;
    font-size: 15px;
}

/* footer section */
footer{
    width: 100%;
    background-color: #161616;
    margin-top: 130px;
}
.footer-content{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: auto;
    text-align: center;
    padding: 130px 0px;
}
.footer-title{
    color: white;
}
.footer-border{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-link{
    display: flex;
    justify-content: center;
    gap: 42px; 
}
.footer-link a{
    text-decoration: none;
    color: #B9B9B9;
}
.footer-social-link{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.footer-social-link a{
    color: #B9B9B9;
    font-size: 1.7em;
}

/* mobile-devices */

@media only screen and (max-width:576px) {
    .header-content{
        flex-direction: column;
    }
    .header-title{
        font-size: 22px;
        line-height: 35px;
    }
    .header-description{
        width: 50%;
        align-items: center;
        padding: 0px;
        margin-top: 30px;
        text-align: center;
    }
    .header-content img{
        margin-right: 30px;
        width: 80%;
        padding-top: 30px;
    }
    .middle-container{
        flex-direction: column;
    }
    .menu{
        background-color:white;
        align-items: center;  
    }
    .menu a{
        width: max-content;
        padding: 20px 30px;
    }
    .contents{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-link{
        flex-direction: column;
    }
}

/* tablet-devices */

@media only screen and (min-width:577px) and (max-width:992px) {

    .header-title{
        font-size: 30px;
        line-height: 45px;
    }

    .middle-container{
        flex-direction: column;
    }
    .menu{
        min-width: 312px;
        flex-direction: row;
        height: 70px;
        background-color: white;
        margin-bottom: 30px;  
        gap: 20px;
    }
    .menu a{
        padding: 20px 30px;
        width: -webkit-fill-available;
    }
    .contents{
        grid-template-columns: repeat(2,1fr);
    }
    .footer-link{
        flex-wrap: wrap;
    }
    .viewall-btn{
        display: block;
        margin: 50px auto;
        width: max-content;
    }
}